about {margin: 0;
    padding: 0;

}
h2 {
    text-align: center; /* Center the text horizontally */
    justify-content: center; /* Center the text vertically */
    display: flex; /* Use flexbox to center vertically */
    flex-direction: column; /* Align text vertically */
    font-style: 'jaldi';
    font-weight: 400px;
    font-size: 36px;

  }

  .p {
    display: flex;
    flex-wrap: wrap;
    font-style: 'jaldi';
    font-weight: 60px;
    font-size: 18px;
    margin-top: 150px;
    position: absolute;
    width: 657px;
    height: 361px;
    left: 300px;
    top: 198px;
    letter-spacing: 0.075em;
    text-transform: uppercase;
  }
/* .container .background{
    position:absolute;
    width: 1207.43px;
    height: 975px;
    left: 798.8px;
    top: -15px;
    background: linear-gradient(180deg, rgba(189, 212, 223, 0.1) 0%, rgba(145, 184, 201, 0.1) 100%), #144358;
    border: 1px solid #000000;

}
.container  .circle {
    position: absolute;
    width: 830px;
    height: 830px;
    left: 521.59px;
    top: 76.85px;
    background: radial-gradient(46.81% 47.17% at 50% 50%, rgba(211, 226, 233, 0.504) 0%, rgba(56, 126, 158, 0) 100%);
    mix-blend-mode:lighten;
    opacity: '0.74',
} */