.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgba(189, 212, 223, 0.1) 0%, rgba(145, 184, 201, 0.1) 100%), rgb(20, 67, 88);
  
}

.about-heading {
  margin-top: -700px
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.text {
  flex: 1;
  margin-left: 90px;
}

.image {
  flex: 1;
  display: flex;
  justify-content:center;
}

.image img {
  max-width: 100%;
  height: 500px;
  margin-right: 400px;
  margin-left: 500px;

}