
.Contact {
    padding: 20px;
    align-items: center;
    background-color: rgb(142, 155, 158);
    display: flex; /* Add display flex */
    justify-content: center; /* Center align content horizontally */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    width: 96vw;
    position: relative;
    background: radial-gradient(46.81% 47.17% at 50% 50%, rgb(17, 80, 80) 0%, rgba(56, 126, 158, 0) 100%);
    mix-blend-mode: lighten;
    opacity: 0.74;
    background-color: #3F4E62;
    background-size: cover;
    perspective: 1000px;
    overflow: hidden; /* This ensures that the content doesn't overflow the viewport */
    border-radius: 50px;
}

  
  #contact-form {
    max-width: 70%; /* Adjusted to 100% to make it responsive */
    padding: 20px;
    background-color: rgb(208, 221, 221);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display:block;
    margin-bottom: 5px;
    align-content: center;
  }
  
  input[type="text"],
  input[type="email"],input[type="tel"]{
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 70px;

  }
  textarea {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 70px;
  }
  
  button[type="submit"] {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    align-content:center;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .image-container {
    margin-left: 20px; /* Adjust this value to control the space between the form and the image */
  }
  
  .image-container img {
    max-width: 100%; /* Ensure the image does not exceed its container width */
  }
  .form-container {
    display: flex;
    align-items: center; /* Vertically center the form and image */
  }
  
  .form-container form {
    flex: 1; /* Allow the form to take up remaining space */
  }
  .heading {
    align-items: center;
    align-content: center;
  }
  /* contactPage.css */

/* Style for form labels */
.label {
  display: block; /* Display labels as blocks for better spacing */
  margin-bottom: 5px; /* Add some space between labels and inputs */
  font-weight: bold; /* Make labels bold */
}
