/* Style for the navigation container */
nav {
    display: flex;
    flex-direction: column;
    width: 200px; /* Adjust width as needed */
    position: relative;
    margin-top: 224px;
    margin-left: -1637px;
    /* Border radius for curl effect */
    border-radius: 0 30% 30% 0;
     /* Background color with transparency */
    background-color: #d9e0df;
  }
  
  /* Style for the menu items */
  .menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #1b1919;
  }
  
  /* Style for active menu item */
  .menu a.active {
    background-color: #a0a5ac;
    border-radius: 10% 10% 10% 10%;
    background-color: hsl(165, 100%, 99%);
  }
  
  /* Style for the social links */
  .social a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  /* Style for the icons */
  .material-icons,
  .devicon-github-plain,
  .devicon-wordpress-plain,
  .devicon-twitter-plain,
  .devicon-facebook-plain {
    vertical-align: middle;
    margin-right: 10px;
  }
  

  