/* Style for the navigation container */
nav {
    display: flex;
    flex-direction: column;
    background-color: #d8e1e9;
    width: 200px; /* Adjust width as needed */
    position: relative;
    margin-left: -1700px;
    margin-top: 100px;
    /* Border radius for curl effect */
    border-radius: 0 30% 30% 0;
     /* Background color with transparency */
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  /* Style for the menu items */
  .menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #1b1919;
  }
  
  /* Style for active menu item */
  .menu a.active {
    background-color: #ddd;
  }
  
  /* Style for the social links */
  .social a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  /* Style for the icons */
  .material-icons,
  .devicon-github-plain,
  .devicon-wordpress-plain,
  .devicon-twitter-plain,
  .devicon-facebook-plain {
    vertical-align: middle;
    margin-right: 10px;
  }
  